
.inputCasilla {
    width: 3em; /* Ancho predeterminado para los inputs */
    height: 2em; /* Altura predeterminada para los inputs */
    margin-bottom: 0.5em; /* Margen inferior para separar los inputs */
    margin-left: 0.1em;
    border-color: #000000; /* Cambiar el color del borde */
}

.ResultadoCasilla {
    width: 3em; /* Ancho predeterminado para los inputs */
    height: 2em; /* Altura predeterminada para los inputs */
    margin-bottom: 0.5em; /* Margen inferior para separar los inputs */
    border-color: #828a17; /* Cambiar el color del borde */
}

.inputNombres, .inputnumCasillas {
    width: 4em; /* Ancho predeterminado para los inputs */
    height: 1.5em; /* Altura predeterminada para los inputs */
    margin-bottom: 0.5em; /* Margen inferior para separar los inputs */
    border-color: #000000; /* Cambiar el color del borde */
}

.buttonnormal {
    padding: 0.5em 1em; /* Añade relleno al botón para hacerlo más grande */
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Elimina el borde del botón */
    border-radius: 4px; /* Añade bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
.buttonnormal:hover {
    background-color: #139719; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}
.buttonnormalRed {
    padding: 0.5em 1em; /* Añade relleno al botón para hacerlo más grande */
    background-color: #aa1e1e; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Elimina el borde del botón */
    border-radius: 4px; /* Añade bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
.buttonnormalRed:hover {
    background-color: #ff0000; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}

.divCasillasVotar {
    display: inline-block;
}

.Titulos {
    font-weight: bold;
}

.contenedor {
    position: fixed;
    bottom: 0;
    width: 85%;
    height: 23%;
    background-color: lightgray;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
}

.contenedor > div {
    width: 100%; /* Ancho completo */
    height: 125%;
}

.button-container {
    width: 70%;
    height: 40%;

    margin-right: 2.5%;
}
.button-container[value="4"] {
    height: 50%;
}

html {
    height: 180vh;
}