@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
html
{
    color: #000000;
    border-color: green;
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;
}
main
{
    background-repeat: no-repeat;
    background-image: url('fondo.jpg');
    background-position: center;
    background-size: cover;

}
.inputCasilla {
    width: 3em; /* Ancho predeterminado para los inputs */
    height: 2em; /* Altura predeterminada para los inputs */
    margin-bottom: 0.5em; /* Margen inferior para separar los inputs */
    margin-left: 0.1em;
    border-color: #000000; /* Cambiar el color del borde */
    border: solid;
}

.ResultadoCasilla {
    width: 3em; /* Ancho predeterminado para los inputs */
    height: 2em; /* Altura predeterminada para los inputs */
    margin-bottom: 0.5em; /* Margen inferior para separar los inputs */
    border-color: #828a17; /* Cambiar el color del borde */
    border: solid;
}

.inputNombres, .inputnumCasillas {
    width: 4em; /* Ancho predeterminado para los inputs */
    height: 1.5em; /* Altura predeterminada para los inputs */
    margin-bottom: 0.5em; /* Margen inferior para separar los inputs */
    border-color: #000000; /* Cambiar el color del borde */
    border: solid;
}

.buttonnormal {
    padding: 0.5em 1em; /* Añade relleno al botón para hacerlo más grande */
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Elimina el borde del botón */
    border-radius: 4px; /* Añade bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
.buttonnormal:hover {
    background-color: #139719; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}
.buttonnormalRed {
    padding: 0.5em 1em; /* Añade relleno al botón para hacerlo más grande */
    background-color: #aa1e1e; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Elimina el borde del botón */
    border-radius: 4px; /* Añade bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
.buttonnormalRed:hover {
    background-color: #ff0000; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}

.divCasillasVotar {
    display: inline-block;
}

.Titulos {
    font-weight: bold;
}

.contenedor {
    position: fixed;
    bottom: 0;
    width: 85%;
    height: 15%;
    background-color: lightgray;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
}

.contenedor > div {
    width: 100%; /* Ancho completo */
    height: 125%;
}

.button-container {
    width: 70%;
    height: 40%;

    margin-right: 2.5%;
}
.button-container[value="4"] {
    height: 50%;
}

html {
    height: 180vh;
}